
     
      <section class="forms">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display" style="font-size: 20px">联系我们修改           
            </h1>
          </header>
          <div class="row">
             
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                      <div class="form-group row">
                      <label class="col-sm-2 form-control-label">分类名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" value="<?php echo $data[0]['name']; ?>">
                      </div>
                    </div>
                    <div class="line"></div>

                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">联系我们分类</label>
                      <div class="col-sm-10 mb-3" >
                        <select  class="form-control" name="pid" style="display: inline-block; max-width: 18%; margin:0px 6px 6px 0px">
                          <option value="0">请选择分类</option>

                        <?php foreach($data as $v){?>
                        <?php if($cate[0]['pid']==$v['id']){?>

                     <option selected="true" value="<?=$v['id']?>"><?=$v['name']?></option>
                     <?php }else{?>
                          <option  value="<?=$v['id']?>" >
                            <?php echo $v['name']?> </option> 
                          <?php }?>
                          <?php }?>
                        </select>
        
 
                      </div>
                    </div>
                    <div class="line"></div>
                    
                    <div class="line"></div>
   
                    <div class="form-group row">
                      <div class="col-sm-4 offset-sm-2">
                        <button type="reset" class="btn btn-secondary">重置</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      